@page "/Ticket/Index"
@using RegistroTecnicos.Models
@using RegistroTecnicos.Services
@inject TicketsService ticketsService
@inject ClientesService clientesService
@inject TecnicosService tecnicosService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


@*HTML*@

<PageTitle>Index</PageTitle>
<div class="container">
    <div class="card shadow-lg">

        @*Header*@
        <div class="card-header text-center">
            <h3><strong>Listado de Tickets</strong></h3>
        </div>
        @*Body*@
        <div class="card-body">
            @*Labels*@
            <div class="row">
                @*Filtrar por*@
                <div class="col-3">
                    <label class="form-label"><strong>Filtrar Por</strong></label>
                </div>
                @*ValorFiltro*@
                <div class="col-4">
                    <label class="form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y Botones*@
            <div class="row">
                @*Filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">Id</option>
                        <option value="Cliente">Cliente</option>
                    </InputSelect>
                </div>
                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
                @*Restablecer*@
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-secondary bi bi-arrow-clockwise" @onclick="Restablecer"></button>
                </div>
                @*Crear*@
                <div class="col text-end">
                    <button type="button" class="btn btn-primary bi bi-plus-circle" @onclick="Crear"></button>
                </div>
            </div>
            <table class="table table-bordered text-center mt-4">
                <thead>
                    <tr>
                        <th>TicketId</th>
                        <th>Fecha</th>
                        <th>Prioridad</th>
                        <th>Cliente</th>
                        <th>Asunto</th>
                        <th>Descripcion</th>
                        <th>TiempoInvertido</th>
                        <th>T&eacute;cnico</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ticket in ListaTickets)
                    {
                        <tr>
                            <td>@ticket.TicketId</td>
                            <td>@ticket.Fecha</td>
                            <td>@ticket.Prioridad</td>
                            <td>@GetClienteNombre(ticket.ClienteId)</td>
                            <td>@ticket.Asunto</td>
                            <td>@ticket.Descripcion</td>
                            <td>@ticket.TiempoInvertido</td>
                            <td>@GetTecnicoNombre(ticket.TecnicoId)</td>


                            @*Pantalla Editar*@
                            <td>
                                <button type="button" class="btn btn-outline-warning bi bi-pencil"
                                        @onclick="()=> Editar(ticket.TicketId)"></button>
                            </td>
                            @*Pantalla Eliminar*@
                            <td>
                                <button type="button" class="btn btn-outline-danger bi bi-trash3"
                                        @onclick="()=> Eliminar(ticket.TicketId)"></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        @*Footer*@
        <div class="card-footer">
            <p><strong>Total de Tickets </strong>@ListaTickets.Count()</p>
        </div>
    </div>
</div>






@code {

    public List<Tickets> ListaTickets { get; set; } = new List<Tickets>();
    public List<Clientes> ListaClientes { get; set; } = new List<Clientes>();
    public List<Tecnicos> ListaTecnicos { get; set; } = new List<Tecnicos>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        ListaTickets = await ticketsService.Listar(t => t.TicketId > 0);
        ListaClientes = await clientesService.Listar(c => c.ClienteId > 0);
        ListaTecnicos = await tecnicosService.Listar(t => t.TecnicoId > 0);

    }

    private string GetTecnicoNombre(int tecnicoId)
    {
        var tecnico = ListaTecnicos.FirstOrDefault(t => t.TecnicoId == tecnicoId);
        return tecnico != null ? tecnico.Nombres : "Desconocido";
    }

    private string GetClienteNombre(int clienteId)
    {
        var cliente = ListaClientes.FirstOrDefault(c => c.ClienteId == clienteId);
        return cliente != null ? cliente.Nombres : "Desconocido";
    }

    private async Task Buscar()
    {
        if (ValorFiltro.Trim() != "")
        {
            if (Filtro == "Id" && int.TryParse(ValorFiltro, out int ticketId))
                ListaTickets = await ticketsService.Listar(t => t.TicketId == ticketId);
            else if (Filtro == "Cliente")
                ListaTickets = await ticketsService.Listar(t => t.Clientes.Nombres.ToLower().Contains(ValorFiltro.ToLower()));


        }
        else
            ListaTickets = await ticketsService.Listar(t => t.TicketId > 0);
    }

    private async Task Restablecer()
    {
        ListaTickets = await ticketsService.Listar(t => t.TicketId > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
    }

    public void Crear()
    {
        navigationManager.NavigateTo("/Ticket/Create");
    }

    public void Editar(int id)
    {
        navigationManager.NavigateTo($"/Ticket/Edit/{id}");
    }

    public void Eliminar(int id)
    {
        navigationManager.NavigateTo($"/Ticket/Delete/{id}");
    }

}
